body {
    overflow-x: hidden;
    width: 100%;
    font-size: 12px !important;
    font-family: Montserrat, sans-serif;
    background: #eee;
    min-height: 550px;
    background-attachment: fixed;
} 

.bg {
    min-height: 540px;
}

.bg1 {
    background: url(../image/bg.jpg);
    min-height: 535px;
}

@font-face {
    font-family: "typo";
    src: url("../fonts/typo.ttf");
}

@font-face {
    font-family: "gothic";
    src: url("../fonts/gothics.ttf");
}

.panel {
    border-color: #eee;
    margin: 40px;
    padding: 20px;
    font: 15px "Century Gothic", "Times Roman", sans-serif;
}

.title {
    font-family: "typo";
}

.header {
    background: #f4511e;
    height: 70px;
}

.logo {
    font-family: "Montserrat, sans-serif";
    font-size: 35px;
    color: #fff;
    text-align: center;
    margin: 15px;
}
@media(max-width: 992px){
    .logo {
        font-size: 20px;
    }
}

.title1 {
    font: 16px "Century Gothic", "Times Roman", sans-serif;
}

.title2 {
    font-family: "Ubuntu", sans-serif;
    font-size: 20px;
}

.sub1 {
    width: 90px;
    color: #202020;
    background: orange;
    font-size: 15px;
    height: 35px;
    margin: 20px;
    padding: 10px;
    width: 100px;
}

.sub {
    width: 100%;
    background-color: #9acd32;
    font-size: 20px;
    padding: 2px;
    margin-top: 15px;
    margin-right: 20px;
}

.sub:hover {
    color: #fff;
}

.footer {
    font-size: 15px;
    text-align: center;
    border-top: 1px solid;
    border-color: #323232;
    background-color: #202020;
}

.footer a {
    margin: 25px;
    color: orange;
    text-decoration: none;
    font: 15px "Century Gothic", "Times Roman", sans-serif;
}

.footer a:hover {
    text-decoration: none;
    color: #9acd32;
    border-top: 2px solid;
    border-color: orange;
}

.box {
    padding: 9px;
}

hr {
    color: #000000;
}

.top {
    margin-top: 20px;
}

.log1 {
    font: 15px "Montserrat", sans-serif;
    color: #fff;
    margin-left: 10px;
}

.log {
    margin: 10px;
    margin-right: 40px;
    margin-left: 5px;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    font-size: 15px;
}

.log:hover {
    color: #23527c;
    border-bottom: 2px solid;
    border-color: black;
    text-decoration: none;
}

.unanswered {
    background-color: rgb(255, 65, 65) !important;
}

.answered {
    background-color: rgb(81, 230, 81) !important;
}

.pinpad {
    width: auto;
}

.pinpad form #password {
    height: 40px;
    font-size: 1.5em;
    width: 200px;
}

.pinButton {
    border: none;
    background: none;
    font-size: 1.5em;
    border-radius: 50%;
    height: 40px;
    font-weight: 550;
    width: 40px;
    color: transparent;
    text-shadow: 0 0 0 rgb(102, 101, 101);
    margin: 7px 20px;
}

.clear,
.enter {
    font-size: 1em !important;
}

.pinButton:hover {
    box-shadow: #506ce8 0 0 1px 1px;
}

.pinButton:active {
    background: #506ce8;
    color: #fff;
}

.clear:hover {
    box-shadow: #ff3c41 0 0 1px 1px;
}

.clear:active {
    background: #ff3c41;
    color: #fff;
}

.enter:hover {
    box-shadow: #47cf73 0 0 1px 1px;
}

.enter:active {
    background: #47cf73;
    color: #fff;
}

.control-label {
    margin-left: 15px;
}